@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Patrick+Hand&family=Permanent+Marker&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #000;
  font-family: "Patrick Hand", cursive;
  color: #c5c5c5;
}
body.background {
  transition: ease-in-out 0.3s;
  animation: changeBackgroundColor 1.5s both;
}

.mouse {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: #3f2b1f;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
  z-index: -1;
}

header {
  height: 20vh;
}

/*******NAVIGATION*********/
.navbar {
  position: absolute;
  height: 10vh;
  width: 100vw;
  background: transparent;
}
.navbar .navbar-nav-top {
  position: relative;
  display: flex;
  position: fixed;
  align-items: center;
  font-size: 1.9rem;
  width: 100vw;
  height: 13vh;
  left: -1vw;
  border-bottom: 1px solid #925c3b;
  list-style: none !important;
  justify-content: center;
  background: #925c3b2a;
  transition: 0.3s;
  margin: 0;
  z-index: 600;
}
.navbar .navbar-nav-top .logo {
  position: relative;
  left: -15vw;
  height: 100px;
}
.navbar .navbar-nav-top .nav-item-top .nav-link-top {
  position: relative;
  color: #925c3b !important;
  text-decoration: none !important;
  margin: 20px;
}
.navbar .navbar-nav-top .nav-item-top .nav-link-top:hover {
  color: #3f2b1f !important;
  transition: 0.5s;
}
.navbar .navbar-nav {
  position: relative;
  align-items: center;
  top: -5vh;
}
.navbar .nav-link {
  color: #925c3b !important;
  font-size: 3.5rem;
  transition: 0.8s;
}
.navbar .nav-link:hover {
  color: #925c3b !important;
  font-size: 5rem;
  animation: text-pop-up-top 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.navbar .nav-link.active {
  animation: textEntrance 0.5s ease 1.5s;
}
.navbar .nav-link.out {
  animation: text-pop-up-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes text-pop-up-top {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 1px 0 #3f2b1f, 0 2px 0 #3f2b1f, 0 3px 0 #3f2b1f, 0 4px 0 #3f2b1f, 0 5px 0 #3f2b1f, 0 6px 0 #3f2b1f, 0 7px 0 #3f2b1f, 0 8px 0 #3f2b1f, 0 9px 0 #3f2b1f, 0 50px 30px #242120;
  }
}
@keyframes textEntrance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar-brand {
  position: relative;
  left: 5vw;
  font-size: 1.8rem;
}

.nav-item {
  z-index: 500;
  transition: 1.5s;
  padding: 0;
  margin: 10px;
}

.navbar-toggler {
  position: relative;
  right: 10vw;
  height: 10vh;
  width: 5vw;
  border: none;
  z-index: 500;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.togglerMenu {
  position: absolute;
  top: 3vh;
  right: -1vw;
  visibility: visible;
  cursor: pointer;
  color: #925c3b;
  width: 70px;
  height: 70px;
}
.togglerMenu.active {
  animation: growUp 2.8s ease alternate backwards;
  transition: 0.5s;
  visibility: hidden;
}
.togglerMenu:hover {
  background: #925c3b2a;
  border-radius: 50%;
  border: #925c3b solid 1.5px;
}
@keyframes growUp {
  0% {
    background: #925c3b;
    transform: scale(0);
    visibility: visible;
  }
  50% {
    background: #925c3b;
    transform: scale(50);
    visibility: visible;
    opacity: 0.5;
  }
  100% {
    background: #925c3b2a;
    transform: scale(0);
    border: none;
    color: #925c3b2a;
    opacity: 0;
  }
}

.navbar-toggler-icon {
  position: absolute;
  right: -1vw;
  font-size: 50px;
  color: #925c3b;
  border: transparent !important;
  visibility: hidden;
}
.navbar-toggler-icon.active {
  visibility: visible;
}

/************* MAIN SECTION *************/
.main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .myName {
  position: absolute;
  top: 8vh;
  font-size: 4.5rem;
  color: #925c3b;
  font-family: "Permanent Marker", cursive;
  border-top: #925c3b solid 3px;
  border-right: #925c3b solid 3px;
  padding: 50px;
}
.main .myName.active {
  visibility: hidden;
}
.main .presentation {
  position: absolute;
  top: 37vh;
  font-size: 4rem;
  color: #925c3b;
  padding: 10px;
  border-bottom: #925c3b solid 3px;
  border-left: #925c3b solid 3px;
  padding: 50px;
}
.main .presentation.active {
  visibility: hidden;
}

.arowUp {
  position: absolute;
  position: fixed;
  right: 3vw;
  bottom: 5vh;
  font-size: 60px !important;
  color: #925c3b;
  z-index: 1500;
}
.arowUp :hover {
  color: #3f2b1f;
  transition: 0.3s;
  background: #925c3b2a;
  border-radius: 50%;
}

.title {
  height: 100vh;
  width: 100%;
  font-size: 4.5rem;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: #925c3b;
}

/*********** SECTION ABOUT **********/
#about {
  position: relative;
}

.titleOne,
.titleTwo,
.titleThree,
.titleFour,
.titleFive {
  position: relative;
  top: 15vh;
}

.aboutMe {
  position: relative;
  font-size: 1.5rem;
  margin-top: 25vh;
  width: 60vw;
}

.mike {
  position: absolute;
  top: -5vh;
  left: 65vw;
  opacity: 0.3;
  width: 25vw;
  height: 50vh;
  border-radius: 35px;
}

/*************** SECTION SKILLS ******************************/
#skills {
  position: relative;
}

.leftProgress,
.rightProgress {
  position: absolute;
  display: inline-block;
  width: 40vw;
  top: 40vh;
}

.leftProgress {
  left: 5vw;
}

.rightProgress {
  right: 5vw;
}

.progress {
  position: relative;
  left: 5vw;
  width: 30vw;
  height: 3vh;
  margin: -15px;
  background-color: #925c3b2a;
}

.first {
  margin-top: 50px;
}

.progress-bar {
  background: #925c3b;
}

.techno {
  position: absolute;
  left: 75%;
  color: #3f2b1f;
}

.techno1 {
  position: absolute;
  color: aqua;
  left: 2vw;
}

/************* SECTION CONTACT **************************/
input,
textarea {
  background: #925c3b2a !important;
  outline: none !important;
  box-shadow: none !important;
}

form {
  position: relative;
  left: 10%;
}

.mb-3,
textarea {
  width: 80vw !important;
  color: #925c3b !important;
}

.btn {
  background: #925c3b2a;
  color: #925c3b;
}
.btn:hover {
  background: #925c3b;
  color: #3f2b1f;
  transition: 0.3s;
}

/************** FOOTER ***********/
.fab {
  font-size: 5vh;
}
.fab.fa-facebook-square {
  color: blue;
}
.fab.fa-github-square {
  color: white;
}
.fab.fa-twitter-square {
  color: #4444e6;
}
.fab.fa-linkedin {
  color: #02025a;
}

/*# sourceMappingURL=index.css.map */
