@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Patrick+Hand&family=Permanent+Marker&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	background: #000;
	font-family: "Patrick Hand", cursive;
	color: #c5c5c5;
	min-height: 100vh;
}
body.background {
	transition: ease-in-out 0.3s;
	animation: changeBackgroundColor 1.5s both;
}

#mouse {
	position: absolute;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: #3f2b1f solid 3px;
	background: #3f2b1f;
	transform: translate(-50%, -50%);
	transition: 0.3s ease;
	z-index: 1800;
	pointer-events: none;
	mix-blend-mode: difference;
}
#mouse.activeHover {
	background: #925c3b2a;
	width: 90px;
	height: 90px;
}
h2 {
	font-size: 4.5rem;
}

header {
	height: 15vh;
	background: linear-gradient(
		180deg,
		black 50%,
		rgba(146, 92, 59, 0.192) 100%
	);
}

/*******NAVIGATION*********/
.navbar {
	/* position: absolute; */
	/* height: 10vh; */
	width: 100vw;
	background: transparent !important;
	z-index: 50;
	/* display: flex; */
	position: fixed;
}
.togglerMenu {
	position: absolute;
	top: 3vh;
	right: 3vw;
	visibility: visible;
	cursor: pointer;
	color: #925c3b;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 800;
}
.togglerMenu.active {
	/* animation: growUp 2.8s ease alternate backwards; */
	/* transition: 0.5s; */
	visibility: hidden;
	border-radius: 50%;
}

.navbar-toggler-icon {
	color: #925c3b;
	visibility: hidden;
}
.navbar-toggler-icon.active {
	position: relative;
	visibility: visible;
	left: -30vw;
}
.navbar-nav {
	position: relative;
	position: fixed;
	align-items: center;
	font-size: 1.9rem;
	width: 100vw;
	height: 10vh;
	left: -1vw;
	list-style: none !important;
	justify-content: center;
	/* background: #925c3bdf; */
	/* background: #925c3b2a; */

	transition: 0.3s;
	z-index: 600;
	visibility: visible;
}
.navbar-nav.active {
	visibility: visible;
	background: #180f0a !important;
	border-bottom: solid 2px #925c3b;
}
.navbar-nav.clicked {
}

.nav-link {
	position: relative;
	text-decoration: none !important;
	color: #925c3b !important;
	font-size: 1.5rem;
	margin: 4vw;
}

.nav-link.active {
	background: #925c3b2a !important;
	border: solid 1px #925c3b;
	padding: 0 5px;
}

/* .navbar .navbar-nav .nav-link:hover {
	color: #3f2b1f !important;
	transition: 0.5s;
} */

/* .navbar-nav {
	position: relative;
	align-items: center;
	top: -3vh;
	transition: 0.4s;
	z-index: 100;
} */

/* 
.navbar-nav .nav-item {
	transition: 2.5s;
	padding: 0;
	margin: 15px;
}
.navbar-nav .nav-item .nav-link {
	position: relative;
	color: #925c3b !important;
	font-size: 3.5rem;
	transition: 0.8s;
	z-index: 500;
	text-decoration: none;
}
.navbar-nav .nav-item .nav-link:hover {
	color: #925c3b2a !important;
	font-size: 5rem;
	transform: scale(1.3);
} */

.navbar-brand {
	/* position: relative;
	left: 2vw; */
	font-size: 1.8rem;
	z-index: 20000;
}

/* .navbar-toggler {
	position: relative;
	right: 10vw;
	height: 10vh;
	width: 5vw;
	border: none;
	z-index: 600;
	border-radius: 50%;
} */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}

/* @keyframes growUp {
	0% {
		background: #925c3b;
		transform: scale(0);
		visibility: visible;
	}
	50% {
		background: #925c3b;
		transform: scale(50);
		visibility: visible;
		opacity: 0.5;
	}
	100% {
		background: #925c3b2a;
		transform: scale(0);
		border: none;
		color: #925c3b2a;
		opacity: 0;
	}
} */

.logo {
	position: relative;
	top: -3vh;
	height: 13vh;
}
@media screen and (max-width: 450px) {
	h2 {
		font-size: 1.9rem;
	}
	.navbar-nav {
		/* position: relative; */
		position: fixed;
		top: 10vh;
		width: 70vw;
		height: 120vh;
		/* left: -2vh; */
		/* background: #925c3b !important; */
		background: #180f0a !important;
		border-right: 2px solid #925c3b;
	}
	.navbar-nav.active {
		/* visibility: hidden; */
		background: #180f0a !important;
		border-bottom: solid 2px #925c3b;
	}

	.nav-link {
		color: #925c3b !important;
	}
	.navbar-toggler {
		z-index: 5000;
	}
}

@media screen and (min-width: 750px) and (max-width: 1179px) {
	h2 {
		font-size: 2rem;
	}
	.navbar-nav {
		position: relative;
		position: fixed;
		top: 10vh;
		height: 60vh;
		left: -2vh;
		background: #925c3bfa !important;
	}
	.nav-link {
		color: #412101 !important;
	}
	.navbar-toggler {
		z-index: 5000;
	}
}
@media screen and (max-width: 1179px) {
	.navbar-toggler-icon {
		/* background-color: green; */
		right: 3vw;
	}
}

/************* MAIN SECTION *************/
.main {
	position: relative;
	height: 100vh;
	width: 100vw;
	/* background: #925c3b31; */
	background: linear-gradient(
		rgba(146, 92, 59, 0.192) 90%,
		black 100%
	);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	font-family: "Permanent Marker", cursive;
}

/* .main #myName {	
	animation: entranceleft 3.5s ease 0.3s both;
} */

#myName {
	position: absolute;
	top: 10vh;
	left: 50%;
	transform: translateX(-40%);
	color: #925c3b;
	font-size: 4rem;
	/* border: 1px solid #260; */
	/* margin:0 auto; */
	/* animation: entranceleft 3.5s ease 0.3s both; */
}
#presentation {
	position: absolute;
	top: 20vh;
	left: 50%;
	transform: translateX(-40%);
	color: #c9652c;
	font-size: 3.5rem;
	/* border: 1px solid #260; */
	/* margin:0 auto; */
	/* animation: entranceright 3.5s ease 0.3s both; */

	/* transform: translateX(-75px); */
}
#welcome {
	color: #925c3b;
	font-size: 1.5rem;
	/* border:2px solid #c9652c; */
	/* padding: 50px;
	border-radius: 0px 199px 110px 188px;
-webkit-border-radius: 0px 199px 110px 188px;
-moz-border-radius: 0px 199px 110px 188px; */
}
/* #myName.circleHover {
	color: #925c3b;
	background: #3f2b1f;
	
} */
.main #myName.active {
	animation: exitleft 1s ease both;
}
/* .main #presentation {
	animation: entranceright 3.5s ease 0.3s both;
} */
/* .main #presentation.circleHover {
	color: #925c3b;
	
} */
#presentation.active {
	animation: exitright 1s ease both;
}
@keyframes entranceright {
	0% {
		left: 2000px;
	}
	100% {
		left: 10vw;
	}
}
@keyframes entranceleft {
	0% {
		right: 2000px;
	}
	100% {
		right: 10vw;
	}
}
@keyframes exitright {
	0% {
		left: 350px;
	}
	100% {
		left: 2000px;
	}
}
@keyframes exitleft {
	0% {
		right: 350px;
	}
	100% {
		right: 2000px;
	}
}

.svg {
	height: 100vh;
	width: auto;
	transition: 0.3s;
	left: 3vw;
	position: absolute;
}
.svg.active {
	opacity: 0.2;
}

.arowUp {
	position: absolute;
	position: fixed;
	right: 3vw;
	bottom: 5vh;
	font-size: 60px !important;
	color: #925c3b;
	z-index: 1500;
	transition: 0.3s;
	visibility: hidden;
}
.arowUp.showArow {
	visibility: visible;
}
.arowUp:hover {
	color: #3f2b1f;
	transition: 0.3s;
}

.title {
	height: 100vh;
	width: 100%;
	font-size: 4.5rem;
	text-align: center;
	font-family: "Permanent Marker", cursive;
	color: #925c3b;
}
.title p {
	display: flex;
	font-size: 1.8rem;
	margin-top: 25vh;
}
.scrollToAbout {
	position: absolute;
	bottom: 10vh;
	left: 80vw;
}

.fa-hand-point-down {
	position: absolute;
	top: -20vh;
	/* left:-150%;  */
	cursor: pointer;
	font-size: 7vh;
	color: #925c3b;
	z-index: 10000;
}

/********* RESPONSIVE **********/
@media screen and (min-width: 300px) and (max-width: 450px) {
	#myName {
		font-size: 2.1rem !important;
		top: -3vh !important;
		width: 100%;
	}
	#myName.active {
		visibility: hidden;
	}
	#presentation {
		font-size: 1.9rem !important;
		top: 5vh !important;
		width: 100%;
		margin: 0 auto;
	}

	#welcome {
		visibility: hidden;
	}
}

@media screen and (max-width: 1280px) {
	.svg {
		width: 85vw;
	}
}

/*********** SECTION ABOUT **********/
#about {
	position: relative;
	min-height: 100vh;
	width: 100vw;
	background: linear-gradient(
		180deg,
		black 90%,
		rgba(146, 92, 59, 0.192) 100%
	);
}

.sectionTitle {
	position: relative;
	top: 10vh;
	transition: 0.2s;
	/* font-size: 4.5rem; */
}

.textContainer {
	/* margin-bottom:5vh; */
}

.mike {
	/* position: absolute;
	top: -5vh; */
	/* left: 65vw; */
	opacity: 0.3;
	width: 25vw;
	height: 50vh;
	border-radius: 35px;
}
.mike.img-thumbnail {
	background-color: #925c3b;
}

p.aboutP {
	position: relative;
	/* background-color: #250; */
	font-size: 1.5rem;
	width: 90vw;
	margin: 20vh auto;

	/* padding-bottom: 20vh; */
	/* left: -120vh; */
	transition: 2.5s;
}

.myCV {
	font-size: 1.5rem;
	text-decoration: none;
	color: #c9652c;
	border: 2px solid #c9652c;
	padding: 0 8px;
}

.myCV:hover {
	color: #925c3b;
	border: 2px solid #925c3b;
}

@media only screen and (max-width: 760px) {
	.sectionTitle {
		position: relative;
		top: 5vh;
		transition: 0.2s;
	}

	p.aboutP {
		width: 90vw;
		top: 1vh;
		font-size: 1.3rem;
		margin: 10vh auto;
	}
}

/********************* STUDIES *********************************/
#studies {
	/* position: relative; */
	width: 100vw;
	min-height: 100vh;
	background: linear-gradient(
		180deg,
		rgba(146, 92, 59, 0.192) 90%,
		black 100%
	);
}

.studiesP {
	position: relative;
	margin-left: 2vw;
}

.computerContainer {
	position: relative;
}

.computer {
	position: relative;
	width: 35vw;
}

.logoStudi {
	position: absolute;
	left: 50%;
	top: 15%;
	width: 8vw;
}

/*************** SECTION SKILLS ******************************/
#skills {
	position: relative;
	/* margin:0 auto; */
	background: linear-gradient(
		180deg,
		black 90%,
		rgba(146, 92, 59, 0.192) 100%
	);
}

.myLanguage {
	position: relative;
	top: 15vh;
}

.skillsContainer {
	position: relative;
	top: 15vh;
	width: 100vw;
	margin-top: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.technoContainer {
	width: 100px;
	height: 100px;
	/* margin: 0 ; */
	transition: 0.3s;
	/* padding:0; */
}
.technoContainer:hover {
	transform: scale(1.3);
}

.techno {
	width: 80px;
	height: 80px;
	cursor: pointer;
}

.myTools {
	position: relative;
	top: 20vh;
}

.toolsContainer {
	position: relative;
	top: 20vh;
	display: flex;
	flex-direction: row;
	width: 100vw;
	justify-content: center;
	margin-top: 5vh;
}

.workTools {
	width: 100px;
	height: 100px;
	margin: 0 20px;
	transition: 0.3s;
}
.workTools:hover {
	transform: scale(1.3);
}

.tools {
	width: 80px;
	height: 80px;
	cursor: pointer;
}

/******************** PORTOFOLIO *********************/
#portofolio {
	position: relative;
	background: linear-gradient(
		180deg,
		rgba(146, 92, 59, 0.192) 90%,
		black 100%
	);
}

.container {
	position: relative;
	top: 15vh;
}

.col {
	position: relative;
	display: flex;
	justify-content: center;
}

.siteOne,
.siteTwo,
.siteThree {
	position: relative;
	display: flex;
	width: 20vw;
	height: auto;
	margin: 50px;
}

.visit {
	position: absolute;
	display: flex;
	align-self: flex-end;
	justify-self: center;
	height: 30px;
	font-size: 0.8rem;
	text-decoration: none;
	color: #925c3b;
}

.visit:hover {
	color: #3f2b1f;
}

/************* SECTION CONTACT **************************/
#contact {
	margin-bottom: 5vh;
}

form {
	position: relative;
	left: 10%;
}

input,
textarea {
	background: #925c3b2a !important;
	outline: none !important;
	box-shadow: none !important;
	border: solid 2px #925c3b !important;
	font-size: 1.2rem !important;
	color: #925c3b !important;
}
textarea {
	resize: none;
}

input::placeholder,
textarea::placeholder {
	color: #3f2b1f !important;
}

.inputOne {
	margin-top: 10vh;
}

.inputTwo,
.inputThree {
	margin-top: -10vh;
}

.form-textarea {
	margin-top: 5vh;
}

.mb-3,
textarea {
	width: 80vw !important;
	color: #925c3b !important;
}

.form-control {
	height: 8vh;
}

.btn {
	position: relative;
	left: -10%;
	top: -90px;
	background: #925c3b2a;
	color: #925c3b;
}
.btn:hover {
	background: #925c3b;
	color: #3f2b1f;
	transition: 0.3s;
}

/************** FOOTER ***********/
footer {
	position: relative;
	display: flex;
	height: 25vh;
	width: 100vw;
	margin-top: 100px;
	background: #925c3b2a;
	justify-content: center;
	border-top: solid 2px #925c3b;
}
footer .fab {
	position: relative;
	top: 50px;
	font-size: 5vh;
	left: 5vw;
	margin: 0 15px;
	color: #925c3b;
	transition: 0.5s;
}
footer .fab.fab:hover {
	transform: scale(1.4) rotate(45deg);
}
footer .fab.fa-github-square:hover {
	color: white;
}
footer .fab.fa-twitter-square:hover {
	color: #4444e6;
}
footer .fab.fa-linkedin:hover {
	color: #02025a;
}
footer p {
	position: relative;

	transform: translateX(-50%);
	height: 10px;
	top: 150px;
	/* left: -8vw; */
	color: #925c3b;
}

.social {
	position: relative;
}
