@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Patrick+Hand&family=Permanent+Marker&display=swap');

$font1 :'Montserrat', sans-serif;
$font2 :'Pacifico', cursive;
$font3 : 'Patrick Hand', cursive;
$font4 : 'Permanent Marker', cursive;

$firstColor :rgb(197, 197, 197);
$secondColor :rgb(0, 0, 0);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    // background: #EDF0ED;
    background: #000;
    font-family: $font3;
    color: $firstColor;
    

    &.background{
        transition: ease-in-out .3s ;
        animation: changeBackgroundColor 1.5s both ;
    }
    
}

#mouse{
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: #3f2b1f solid 3px;
    background: #3f2b1f;
    transform: translate(-50%, -50%);
    transition: .2s ease;
    z-index:1800 ;
    pointer-events: none;
    mix-blend-mode: difference;   
}

header{
    height: 20vh;
}

/*******NAVIGATION*********/ 

.navbar{ 
    position: absolute;
    height: 10vh;  
    width: 100vw;
    background: transparent;
    
   
    .navbar-nav-top{
        position: relative;
        display: flex;
        position: fixed;
        align-items: center;
        font-size: 1.9rem;
        width: 100vw;
        height: 13vh;
        left: -1vw;
        border-bottom: 1px solid #925c3b;
        list-style: none !important;
        justify-content: center;
        background: #925c3b2a;
        transition: .3s;
        z-index: 600; 
        visibility: hidden; 
        
        &.active{
            visibility: visible;
        }
        
        .logo{   
            height: 140px;
        }
        .item1{
            position: relative;
            left: -10px;
            margin-left: -150px;      
        }
    
            
            .nav-link-top{
                position: relative;
                color: #925c3b !important;
                text-decoration: none !important;
                margin: 20px;
                

                &:hover{
                    color: #3f2b1f !important;
                    transition: .5s;
                     
                }
            }
        }
    }

    .navbar-nav{        
        position: relative;
        align-items: center;
        top: -3vh; 
        transition: .4s;
        animation: slide-out-top 1.3s cubic-bezier(0.550, 0.085, 0.680, 0.530)  both;
        z-index: 100;
        
        &.clicked{     
            animation: slide-in-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530)  both;
            
    }

    .nav-item{
        transition: 1.5s;
        padding: 0;
        margin: 10px;
      
        .nav-link{
            position: relative;
            color:#925c3b !important;
            font-size: 3.5rem;
            transition: .8s;
            z-index: 500;
            text-decoration: none;
            
            &:hover{
                color: #925c3b2a !important;
                font-size: 5rem;
                transform: scale(1.3);
                // animation: text-pop-up-top 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
            }
            &.active{
                animation: textEntrance .5s ease 1.5s;   
            }
    }

        @keyframes slide-out-top {
            0% {
              
              transform: translateY(0);
              opacity: 1;
            }
            100% {
              
               transform: translateY(-200px);
               opacity: 1;
            }
          }

        @keyframes slide-in-top {
            0% {
              
              transform: translateY(-400px);
              opacity: 0;
            }
            100% {
              
               transform: translateY(0);
               opacity: 1;
            }
          }         
    }  
       
        @keyframes text-pop-up-top {
            0% {
            
              text-shadow: none;
            }
            100%{
            
              text-shadow: 0 1px 0 #3f2b1f, 0 2px 0 #3f2b1f, 0 3px 0 #3f2b1f, 0 4px 0 #3f2b1f, 0 5px 0 #3f2b1f, 0 6px 0 #3f2b1f, 0 7px 0 #3f2b1f, 0 8px 0 #3f2b1f, 0 9px 0 #3f2b1f, 0 50px 30px rgb(36, 33, 32);
            }
          }

        
        @keyframes textEntrance {
            0%{
              opacity: 0;
            }
            100%{
              opacity: 1;
            }  
        } 
    }

.navbar-brand{
    position: relative;
    left: 5vw;
    font-size: 1.8rem;    
}

.navbar-toggler{
    position: relative;
    right: 10vw;
    height: 10vh;
    width: 5vw;
    border: none;
    z-index: 600;
    
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.togglerMenu{
    position:absolute;
    top:3vh;
    right: -1vw;
    visibility: visible;
    cursor: pointer;
    color:#925c3b;
    width: 70px;
    height: 70px;
    z-index: 800;
    

    &.active{
        animation: growUp 2.8s ease alternate backwards ;
        transition: .5s;
        visibility: hidden;      
    }
    
    &:hover{
        background: #925c3b2a;
        border-radius: 50%;
        border: #925c3b solid 1.5px;

    }
    @keyframes growUp {
        0%{
            background: #925c3b;
            transform: scale(0);
            visibility: visible;

        }
        50%{
            background: #925c3b;
            transform: scale(50);
            visibility: visible;
            opacity: 0.5;
            
        }
        100%{
            background: #925c3b2a;
            transform: scale(0);
            border: none;
            color: #925c3b2a;
            opacity: 0;
        }
        
    }
}

.navbar-toggler-icon {
    position: absolute;
    right: -1vw;
    font-size: 50px;
    color: #925c3b;
    border: transparent !important;
    visibility: hidden;
    z-index: 800;

    &.active{
        visibility: visible;
        
    }

    &:hover{
        
            animation: rotate-center 0.6s ease-in-out both;
        }
        
       
          @keyframes rotate-center {
            0% {
                transform: rotate(0);
            }
            100% {
                transform: rotate(360deg);
            }
          }

    // .logo-navbar-nav{
    //     display: inline-block;
    //     position: absolute;
    //     height: 100px;
    //     width: 20vw;
    //     border: hotpink 2px solid;
    // }
   
        
                 
           
    
}

.image{
    position: absolute;
    top:-3vh;
    height: 150px;
    width: 150px;}


/************* MAIN SECTION *************/ 
.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    
    

    & .myName{
        position: absolute;
        top:8vh;
        font-size: 4.5rem;
        color: #925c3b;
        font-family: $font4;
        border-top: #925c3b solid 3px;
        border-right:#925c3b solid 3px;
        padding: 50px;
        animation: entranceleft 1.3s ease .5s linear;
        

        
        &.active{
            visibility: hidden;
            animation: entranceleft 1.3s ease .5s linear ;
          
        }

    }
    & .presentation{
        position: absolute;
        top:37vh;
        font-size: 4rem;
        color: #925c3b;
        // border-radius: 10px;
        padding: 10px;
        // background: #925c3b2a;
        border-bottom: #925c3b solid 3px;
        border-left:#925c3b solid 3px ;
        padding: 50px;
        animation: entranceright 1.3s ease .8s linear ;

        &.active{
            visibility: hidden;
            animation: entranceright 1.3s ease .8s linear ;
            

        }
    }
    @keyframes entranceright {
        0%{
            font-size: 4rem;
        }
        100%{
            font-size: 8rem;
        }
    }
}


.arowUp{
    position: absolute;
    position: fixed;
    right: 3vw;
    bottom: 5vh;
    font-size: 60px !important ;
    color:#925c3b;
    z-index: 1500;
    transition: .3s;


    &.showArow{
        visibility: visible;
    }

    & :hover{
        color: #3f2b1f;
        transition: .3s;
        background: #925c3b2a;
        border-radius: 50%;
    }
}


.title{
    
    height: 100vh;
    width: 100%;
    font-size: 4.5rem;
    // display:block;
    text-align: center;
    font-family: $font4;
    color: #925c3b;
    
    

    // & p {
    //     display: flex;
    //     font-size: 1.8rem;
    //     margin-top: 25vh;
    // }
}
/*********** SECTION ABOUT **********/
#about{
    position: relative;
    
}
.titleOne,
.titleTwo,
.titleThree,
.titleFour,
.titleFive{
    position: relative;
    top:15vh;
    
} 

.aboutMe{
    position: relative;
    font-size: 1.5rem;
    margin-top: 25vh;
    width: 60vw;
} 
.mike{
    position: absolute;
    top:-5vh;
    left: 65vw;
    opacity: 0.3;
    width: 25vw;
    height: 50vh;
    border-radius: 35px;
}


/*************** SECTION SKILLS ******************************/ 

#skills{
    position: relative;
}
.leftProgress,
.rightProgress{
    position: absolute;
    display: inline-block;
    width: 40vw;
    top: 40vh;

}

.leftProgress{
    left: 5vw;
}
.rightProgress{
    right: 5vw;
    
}

.progress{
    position: relative;
    left: 5vw;
    width: 30vw;
    height: 3vh;
    margin: -15px;
    background-color: #925c3b2a;

}
.first{
    margin-top: 50px;
}
.progress-bar{
    background: #925c3b;   
    
}

.techno{
    position: absolute;
    left:75%;
    color: #3f2b1f;   
}

.techno1{
    position: absolute;
    color:aqua;
    left:2vw;
    
    
}
/******************** PORTOFOLIO *********************/ 

.container {
    position: relative;
    top:15vh
}
.col{
    position: relative;
    display: flex;
    justify-content: center;
}
.siteOne,
.siteTwo{
    position: relative;
    display: flex;
    width: 30vw;
    height: auto;
    margin: 50px;  
    
}
.visit{
    position: absolute;
    display: flex;
    align-self:flex-end;
    justify-self:center;
    // top:30vh;
    height: 30px;
    font-size: 0.8rem;
    text-decoration:none;
    color: #925c3b;
}
.visit:hover{
    color: #3f2b1f;
}
// .v1{
//     left: 18vw;
// }
// .v2{
//     left: 62vw


// }

/************* SECTION CONTACT **************************/ 

#contact{
    margin-bottom: 5vh;
}

form{
    position: relative;
    left:10%;
    
}

input,
textarea{
    background: #925c3b2a !important;
    outline: none !important;
    box-shadow: none !important;
    border: solid 2px #925c3b !important;
    font-size: 1.5rem !important;
    color: #925c3b !important;
    
}
input::placeholder,
textarea::placeholder{
    color: #3f2b1f !important;
}

.inputOne{
    margin-top: 10vh;
    
}

.inputTwo,
.inputThree
{
    margin-top: -10vh;
}

.form-textarea{
    margin-top: 5vh;
    
}

.mb-3,
textarea{
    width: 80vw !important;
    color: #925c3b !important;
}

.form-control{
    height: 8vh;
    // margin: -2vh;
}



.btn{
    position: relative;
    left: -10%;
    top: -90px;
    
    background: #925c3b2a;
    color: #925c3b;
    &:hover{
        background: #925c3b;
        color: #3f2b1f;
        transition: .3s;
    }
}


/************** FOOTER ***********/ 

footer{
    position: relative;
    display: flex;
    height: 25vh;
    margin-top: 100px;
    background: #925c3b2a;
    justify-content: center;
    border-top: solid 2px #925c3b;


.fab{
    position: relative;
    top: 50px;
    font-size: 5vh;
    left: 5vw;
    margin: 0 15px;
    color: #925c3b;
    transition: .5s;

    &.fab:hover{
        transform: scale(1.4);
    }

    &.fa-facebook-square:hover{
        color: blue;
    }
    &.fa-github-square:hover{
        color: white;
    }
    &.fa-twitter-square:hover{
        color: rgb(68, 68, 230);
    }
    &.fa-linkedin:hover{
        color:rgb(2, 2, 90)
    }
       
}
 & p{
     position: relative;
     height: 10px;
     top:150px;
     left: -8vw;
     color: #925c3b;

 }
}
