@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Patrick+Hand&family=Permanent+Marker&display=swap');

$font1 :'Montserrat', sans-serif;
$font2 :'Pacifico', cursive;
$font3 : 'Patrick Hand', cursive;
$font4 : 'Permanent Marker', cursive;

$firstColor :rgb(197, 197, 197);
$secondColor :rgb(0, 0, 0);

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: rgb(22, 21, 21);
    cursor:none;
    font-family: $font3;
    color: $firstColor;
}

.mouse{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: transparent;
    transform: translate(-50%, -50%);
    border: solid 2px green;
    transition: .2s;
    
}
.smallMouse{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: green;
    transform: translate(-50%, -50%);
    
}
img{
    height: 30vh;
    width: auto;
    

}


