/*********** SECTION ABOUT **********/
#about {
	position: relative;
	width: 100vw;
	background: linear-gradient(
		180deg,
		black 90%,
		rgba(146, 92, 59, 0.192) 100%
	);
}

.darkMode {
	background: #f1f1f1;
}

.sectionTitle {
	position: relative;
	top: 10vh;
	transition: 0.2s;
}

.mike {
	opacity: 0.3;
	width: 25vw;
	height: 50vh;
	border-radius: 35px;
}
.mike.img-thumbnail {
	background-color: #925c3b;
}

.aboutP {
	position: relative;
	font-size: 1.5rem;
	width: 90vw;
	/* margin: 20vh auto; */
	transition: 2.5s;
	margin: 0 auto;
}

.myCV {
	font-size: 1.5rem;
	text-decoration: none;
	color: #c9652c;
	border: 2px solid #c9652c;
	padding: 0 8px;
}

.myCV:hover {
	color: #925c3b;
	border: 2px solid #925c3b;
}
@media only screen and (max-width: 350px) {
	#about {
		height: 170vh;
	}
	.sectionTitle {
		top: 2vh;
	}

	.aboutP {
		width: 90vw !important;
		padding: 0 1rem;
		font-size: 1.1rem !important;
	}
	.myCV {
		font-size: 1.3rem;
		margin-bottom: 2rem !important;
		top: -5rem;
		position: relative;
	}
}
@media only screen and (max-width: 767px) {
	.sectionTitle {
		position: relative;
		top: 5vh;
		transition: 0.2s;
	}

	p.aboutP {
		width: 90vw;
		top: 1vh;
		font-size: 1.2rem;
		margin: 10vh auto;
	}

	.myCV {
		position: relative;
		top: -10vh;
	}
}
