@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Patrick+Hand&family=Permanent+Marker&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	background: #000;
	font-family: "Patrick Hand", cursive;
	color: #c5c5c5;
	min-height: 100vh;
	/* cursor: none; */
}
/* body.background {
	transition: ease-in-out 0.3s;
	animation: changeBackgroundColor 1.5s both;
} */
body::-webkit-scrollbar {
	width: 15px;
	border-left: solid 1px #925c3b;
}
body::-webkit-scrollbar-track {
	background: #925c3b2a;
}
body::-webkit-scrollbar-thumb {
	background: #925c3b;
	border-radius: 20px;
}

.darkMode {
	background: #f2f2f2;
}
/* .mode {
	z-index: 2000;
} */

#mouse {
	position: absolute;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: #3f2b1f solid 3px;
	background: #3f2b1f;
	transform: translate(-50%, -50%);
	/* transition: 0.3s ease; */
	/* z-index: 1800; */
	/* pointer-events: none; */
	mix-blend-mode: difference;
}

#mouse.activeHover {
	background: #925c3b2a;
	width: 90px;
	height: 90px;
}

h2 {
	font-size: 4.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1290px) {
	h2 {
		font-size: 2.8rem !important;
	}
}
header {
	height: 15vh;
	background: linear-gradient(
		180deg,
		black 50%,
		rgba(146, 92, 59, 0.192) 100%
	);
}

/*******NAVIGATION*********/
.navbar {
	width: 100vw;
	background: transparent !important;
	z-index: 50;
	position: fixed;
}
.togglerMenu {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 3vh;
	right: 3vw;
	visibility: visible;
	cursor: pointer;
	background: #7f5539;
	color: #432818;
	font-weight: bold;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	z-index: 800;
}
.togglerMenu.active {
	visibility: hidden;
	border-radius: 50%;
}

.navbar-toggler-icon {
	color: #925c3b;
	visibility: hidden;
}
.navbar-toggler-icon.active {
	position: relative;
	visibility: visible;
	left: -30vw;
}
.navbar-nav {
	position: fixed;
	align-items: center;
	font-size: 1.9rem;
	width: 100vw;
	height: 10vh;
	left: -1vw;
	list-style: none !important;
	justify-content: center;
	transition: 0.3s;
	z-index: 600;
	visibility: hidden;
}
.navbar-nav.active {
	visibility: visible;
	background: #180f0a !important;
	border-bottom: solid 2px #925c3b;
}

.nav-link {
	position: relative;
	text-decoration: none !important;
	color: #925c3b !important;
	font-size: 1.5rem;
	margin: 4vw;
}
.nav-link:hover {
	color: #925c3b; !important;
	font-weight: bold;
}

.nav-link.active {
	background: #925c3b2a !important;
	border: solid 1px #925c3b;
	padding: 0 5px;
}

.navbar-brand {
	font-size: 1.8rem;
	z-index: 20000;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}

.logo {
	position: relative;
	top: -0.5rem;
	height: 8.5vh;
	background-color: #7f5539;
}
@media screen and (max-width: 749px) {
	h2 {
		position: relative;
		font-size: 1.9rem;
		top: 10vh !important;
		padding-bottom: 5vh;
	}

	.navbar-nav {
		top: 0vh !important;
		width: 70vw;
		left: -90vw;
		height: 100vh;
		background: #180f0a !important;
		border-right: 2px solid #925c3b;
		visibility: visible;
		transition: 1s;
	}
	.navbar-toggler-icon {
		top: 5vh;
		opacity: 0;
		transition: 3.5s;
	}
	.navbar-toggler-icon.active {
		opacity: 1;
	}

	.navbar-nav.clicked {
		left: 0vw;
		background: #180f0a !important;
		border-right: 2px solid #925c3b;
	}

	.nav-link {
		color: #925c3b !important;
	}
	.navbar-toggler {
		z-index: 5000;
	}
}
.togglerMenu {
	height: 50px;
	width: 50px;
	right: 10px;
	transform: translate(-50%);
}

@media screen and (min-width: 750px) and (max-width: 1290px) {
	h2 {
		font-size: 2rem;
	}
	.navbar-nav {
		position: fixed;
		width: 70vw;
		top: 0vh !important;
		height: 100vh;
		left: -80vw;
		background: #180f0a !important;
		border-right: 2px solid #925c3b;
		visibility: visible;
		transition: 1.5s;
	}
	.navbar-nav.clicked {
		left: 0vw;
		background: #180f0a !important;
		border-right: 2px solid #925c3b;
	}
	.navbar-toggler-icon {
		top: 5vh;
		left: 70vw;
		opacity: 0;
		transition: 2.5s;
	}
	.navbar-toggler-icon.active {
		opacity: 1;
		top: 5vh;
	}

	.nav-link {
		color: #412101 !important;
		font-size: 2.5rem;
	}

	.navbar-toggler {
		z-index: 5000;
	}

	.togglerMenu {
		height: 80px;
		width: 80px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1290px) {
}
@media screen and (max-width 1280px) and (max-height: 850px) {
	.nav-link {
		margin: 20px;
		color: blue;
	}
}
/* END NAVIGATION */

/************** FOOTER ***********/
footer {
	position: relative;
	display: flex;
	height: 25vh;
	width: 100vw;
	margin-top: 120px;
	background: #925c3b2a;
	border-top: solid 2px #925c3b;
}

.social {
	position: relative;
	display: flex;
	left: 50%;
	top: -1rem;
	transform: translateX(-50%);
	justify-content: center;
	align-items: center;
	margin: auto;
	height: 15vh;
	width: 100vw;
}
footer .fab {
	font-size: 5vh;
	margin: 0 15px;
	color: #925c3b;
	transition: 0.5s;
}
footer .fab.fab:hover {
	transform: scale(1.4) rotate(45deg);
}
footer .fab.fa-github-square:hover {
	color: white;
}
footer .fab.fa-twitter-square:hover {
	color: #4444e6;
}
footer .fab.fa-linkedin:hover {
	color: #02025a;
}
.footerP {
	position: absolute;
	height: 1.8rem;
	bottom: 0;
	right: 50%;
	transform: translateX(50%);
	color: #925c3b;
	
}

/****** RESPONSIVE mobile *******/

@media screen and (max-width: 350px) {
	footer {
		height: 30vh;
		margin-top: 150px;
	}
	.social {
		width: 100%;
	}
	footer .fab {
		font-size: 7vh;
	}
}

@media screen and (min-width: 351px) and (max-width: 767px) {
	footer {
		height: 35vh;
		margin-top: 90px;
	}
	footer .fab {
		top: 50px;
		font-size: 6.5vh;
		left: 50%;
		margin: 0 15px;
		color: #925c3b;
		transition: 0.5s;
	}
}

/****** RESPONSIVE tablet *******/

@media screen and (min-width: 768px) and (max-width: 1280px) {
	footer {
		height: 20vh;
	}
	.social {
		margin: 0 auto !important;
	}
}
@media screen and (max: width 128px) and (max-height: 850px) {
	.footerP {
		top: 90px;
	}
}
/* END FOOTER */
